{% extends "base.html" %}

{% block title %}KTracker{% endblock %}
{% block description %}Listen to audio from the KTracker Google Sheets{% endblock %}

{% block pagecss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
<div>
  <div class="Header_header___G6og">
    <a class="Header_index__FE__u" href="/">
      <h1 class="Header_title__0V7v_">
        <img alt="KTracker Logo" class="Header_logo__e8eyg" width="36" height="36" src="{{ url_for('static', filename='img/logo.webp') }}">KTracker
      </h1>
    </a>
    <div class="Links_links__UToMx Header_links__rYnfM">
      <a href="https://docs.google.com/spreadsheets/d/1Z8aANbxXbnUGoZPRvJfWL3gz6jrzPPrwVt3d0c1iJ_4/edit?gid=1884837542#gid=1884837542" rel="noopener noreferrer" target="_blank">Google Sheets</a>
    </div>
  </div>
</div>

<div class="styles_container__TE5Ij">
  <h1 class="styles_welcome__moq6G">Welcome to KTracker!</h1>
  <div class="styles_description__BSCTw">
    <p>KTracker is an ad-free service that allows you to listen to audio from Google Sheets. Example:
      <a href="/1RhaRte-A_4LFzB6JnKJHzdTbDEq0MmGRMp1sj7sFRgg/unreleased">Beep Tracker</a>
    </p>
  </div>
  <div>
    <form action="/go" id="tracker-form" method="POST">
      <input autocomplete="off" autofocus="autofocus" class="styles_input__29bkO" name="sheet_url" placeholder="Enter Google Sheets Link..." spellcheck="false" type="text" />
    </form>
  </div>
</div>

<div class="Footer_footer__yl3k1">
  <div>Contact: <a href="mailto:trackerhub@proton.me">trackerhub@proton.me</a></div>
</div>
{% endblock %}