<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
  <title>KTracker</title>
  <meta name="title" content="KTracker">
  <meta name="theme-color" content="#2ca869">
  <meta name="description" content="Listen to audio from the KTracker Google Sheets">
  <meta property="og:title" content="KTracker">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Listen to audio from the KTracker Google Sheets">
  <meta property="og:site_name" content="KTracker">
  <link rel="icon" type="image/x-icon" href="/static/img/logo.webp">
  <link rel="stylesheet" href="/static/css/3752879c3bb7d638.css">
  <link rel="stylesheet" href="/static/css/f1136d791130c53a.css">
  <style data-emotion="css q7mezt" data-s="">
    .css-q7mezt {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      width: 1em;
      height: 1em;
      display: inline-block;
      flex-shrink: 0;
      transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      fill: currentColor;
      font-size: 1.5rem;
    }
  </style>
</head>

<body>
  <div id="__next">
    <div class="_app_viewport__qiA88">
      <div class="_app_scrollable__CPTC5" id="scrollable">
        <div>
          <div class="Header_header___G6og"><a class="Header_index__FE__u" href="/">
              <h1 class="Header_title__0V7v_"><img alt="KTracker Logo" class="Header_logo__e8eyg" data-nimg="1"
                  decoding="async" height="40" loading="lazy" src="/static/img/logo.webp"
                  style="color:transparent" width="40" />KTracker</h1>
            </a>
            <div class="Links_links__UToMx Header_links__rYnfM"><a
                href="https://docs.google.com/spreadsheets/d/1Z8aANbxXbnUGoZPRvJfWL3gz6jrzPPrwVt3d0c1iJ_4/edit?gid=1884837542#gid=1884837542"
                rel="noopener noreferrer" target="_blank">Google Sheets</a></div>
          </div>
        </div>
        <div class="styles_container__TE5Ij">
          <h1 class="styles_welcome__moq6G">Welcome to KTracker!</h1>
          <div class="styles_description__BSCTw">
            <p>KTracker is an ad-free service that allows you to listen to audio from Google Sheets. Example:<!-- -->
              <a href="/sh/1RhaRte-A_4LFzB6JnKJHzdTbDEq0MmGRMp1sj7sFRgg">Beep Tracker</a></p>
          </div>
          <div>
            <form action="/go" id="tracker-form" method="POST"><input autocomplete="off" autofocus="autofocus"
                class="styles_input__29bkO" name="sheet_url" placeholder="Enter Google Sheets Link..."
                spellcheck="false" type="text" /></form>
          </div>
        </div>
        <div class="Footer_footer__yl3k1">
          <div>Contact: <a href="mailto:trackerhub@proton.me">trackerhub@proton.me</a></div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>